body {
  min-height: 500px;
  background: #ffffff;
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  color: #bbbbbb;
}

#box { 
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  text-align: left;
  background: #000000;
}
#box div {
  display: inline-block;
}
a#h1, h1 {
  margin: 0;
  font-size: 96px;
  letter-spacing: 5px;
  font-weight: 900;
  font-style: italic;
  text-decoration: none;
  color: #ffffff;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #000000;
  background: #ffffff;
}
input[type=text] {
  background: #000000;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #bbbbbb;
}
input[type=submit] {
  margin: 0 25px;
  background: none;
  color: #ffffff;
  border: 1px solid #666666;
}
span {
  color: #ffffff;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  }
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  body, #box {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #box div {
    display: block;
    margin: 0 auto;
    width: 95%;
    text-align: left;
  }
  #box div div {
    display: block;
    padding: 10px 0;
    width: 100%;
  }
  input[type=text] {
    width: 225px;
    display: inline-block;
  }
  input[type=submit] {
    display: inline-block;
    margin: 0 15px 0 0;
  }
}